form{
    background-color: rgb(252, 240, 200);
    display: inline-block;
    position: relative;
    left: 400px;
}

form label{
    width: 300px;
    display: inline-block;
    font-size: 2rem;
}
form div{
    margin: 10px;
}
h1{
    text-align: center;
}